.login-page {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background: radial-gradient(circle, #a0d8f1 20%, #caffd3 60%, #d5f7f8 100%);
}

.login-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 40%;
    padding: 0 40px;
    background-color: #fff;
    border-radius: 0 100px 100px 0;
    box-shadow: 15px 16px 10px 0px rgba(0,0,0,0.2);
}

.login-right {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 60%;
    padding: 70px 0;
    
    .ant-form-item-label {
        font-weight: 500;
    }

}

.login-logo {
    margin-bottom: 30px;
}

.login-submit {
    background-color: #4F46E5;
    color: #eee;
    font-weight: 500;
    width: 100%;
}

.forgot-password {
    color: #4F46E5;
}

.login-background {
    background-image: url('https://resources.owllabs.com/hubfs/Blog%20Images/Stock/Remote/Remote-2793651_1152px.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 15px 16px 10px 0px rgba(0,0,0,0.2);
    width: 500px;
    height: 500px;
}