.layout-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEA;
    padding: 20px;
    height: 50px;
}

.layout-header-left {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.layout-header-right {
    display: flex;
    align-items: center;
    width: 350px;
    margin-right: 10px;
}

.header-right-item {
    font-family: Poppins, sans-serif;
    text-align: center;
    padding: 5px 13px;
    position: relative;
    width: fit-content;
    z-index: 1;
}

.header-right-item::before {
    content: '';
    background: linear-gradient(to right, #dfdfdf, #D1D7F1);
    width: 100%;
    height: 0;
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: 150ms ease-in-out;
    z-index: -1;
}

.header-right-item:hover::before {
    height: 150%;
}

.header-right-item::after {
    content: '';
    background: linear-gradient(to right, #00093c, #2d0b00);
    height: 0;
    width: 100%;
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: 150ms ease-in-out;
    z-index: 0;
}

.header-right-item:hover::after {
    height: 3px;
}