.profile-page-title {
  h2 {
    font-size: 30px;
  }
  small {
    color: #696969;
  }
}

/* .profile-page-title,
.profile-page-board {
  position: relative;
  overflow: hidden;
} */
.profile-page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-page-board {
  display: flex;
  width: 80%;
  height: 80%;
  background: #cccccc44;
}

.profile-page-left img {
  width: 400px;
}

.profile-page-board::before {
  content: '';
  background: linear-gradient(to bottom, #DB27D2, #F89904);
  width: 300px;
  height: 300px;
  border-radius: 30px;
  bottom: -90px;
  left: 45%;
  position: absolute;
  transform: rotate(-30deg);
  overflow: hidden;
}

.profile-page-board::after {
  content: '';
  background: linear-gradient(to top, #DB27D2, #F89904);
  width: 520px;
  height: 520px;
  border-radius: 30px;
  bottom: -90px;
  right: -15%;
  position: absolute;
  transform: rotate(-30deg);
  overflow: hidden;
}

.profile-page-title::before {
  content: '';
  background: linear-gradient(to bottom, #F488B5, #DB27D2);
  width: 200px;
  height: 200px;
  border-radius: 30px;
  top: 50%;
  right: -15%;
  position: absolute;
  transform: rotate(-30deg);
  overflow: hidden;
}

